<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find reachy_description)/ros2_control/joint.ros2_control.xacro"/>

  <xacro:macro name="orbita2dof_control" params="name joint1 joint2 port_a port_b id_a id_b offset_a offset_b ratio_a ratio_b">

    <ros2_control name="${name}" type="system">
      <hardware>
        <!-- Use real hardware. -->
        <xacro:unless value="$(arg use_fake_hardware)">
          <plugin>orbita2d_hardware_interface/Orbita2dofSystem</plugin>
          <param name="port_a">${port_a}</param>
          <param name="port_b">${port_b}</param>
          <param name="id_a">${id_a}</param>
          <param name="id_b">${id_b}</param>
          <param name="offset_a">${offset_a}</param>
          <param name="offset_b">${offset_b}</param>
          <param name="ratio_a">${ratio_a}</param>
          <param name="ratio_b">${ratio_b}</param>

        </xacro:unless>

        <xacro:if value="$(arg use_fake_hardware)">
          <!-- Use gazebo as hardware simulation. -->
          <xacro:if value="$(arg use_gazebo)">
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
          </xacro:if>

          <!-- Use fake components. -->
          <xacro:unless value="$(arg use_gazebo)">
            <plugin>fake_components/GenericSystem</plugin>
          </xacro:unless>
        </xacro:if>
      </hardware>
      <xacro:position_joint_control name="${name}_${joint1}"/>
      <xacro:position_joint_control name="${name}_${joint2}"/>
      <gpio name="${name}">
        <state_interface name="torque" data_type="bool"/>
        <command_interface name="torque" data_type="bool"/>
      </gpio>

    </ros2_control>

  </xacro:macro>
</robot>
