<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="orbita_control" params="name orbita_serial_port orbita_id orbita_alpha orbita_hardware_zero orbita_reduction">

        <xacro:include filename="$(find reachy_description)/ros2_control/joint.ros2_control.xacro"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <xacro:unless value="$(arg use_fake_hardware)">
                    <plugin>neck_system_hwi/NeckSystem</plugin>
                    <param name="serial_port">${orbita_serial_port}</param>
                    <param name="id">${orbita_id}</param>
                    <param name="alpha">${orbita_alpha}</param>
                    <param name="hardware_zero">${orbita_hardware_zero}</param>
                    <param name="reduction">${orbita_reduction}</param>
                </xacro:unless>

                <xacro:if value="$(arg use_fake_hardware)">
                    <!-- Use gazebo as hardware simulation. -->
                    <xacro:if value="$(arg use_gazebo)">
                        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                    </xacro:if>

                    <!-- Use fake components. -->
                    <xacro:unless value="$(arg use_gazebo)">
                        <plugin>fake_components/GenericSystem</plugin>
                    </xacro:unless>
                </xacro:if>
            </hardware>
                 <xacro:position_joint_control name="${name}_roll"/>
                 <xacro:position_joint_control name="${name}_pitch"/>
                 <xacro:position_joint_control name="${name}_yaw"/>
        </ros2_control>
    </xacro:macro>
</robot>
