# git+https://github.com/colcon/colcon-cargo.git
git+https://github.com/pollen-robotics/colcon-cargo.git
git+https://github.com/colcon/colcon-ros-cargo.git
reachy-sdk
transforms3d
v4l2py
zoom_kurokesu
pypot
setuptools==58.2.0
pillow
prometheus_client>=0.20.0, <1.0.0
opentelemetry-distro>=0.45b0, <1
opentelemetry-exporter-otlp>=1.24, <2
opentelemetry-instrumentation-grpc>=0.45b0, <1
pyroscope-otel>=0.1, <1
pyroscope-io>=0.8.7, <1
viztracer>=0.16.3, <1
