<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:macro name="arm" params="prefix parent side damping friction orbita2d_shoulder_config orbita2d_elbow_config orbita3d_wrist_config gripper_port gripper_id">


  <xacro:include filename="$(find orbita3d_description)/urdf/orbita3d.urdf.xacro"/>
  <xacro:include filename="$(find orbita2d_description)/urdf/orbita2d.urdf.xacro"/>
  <xacro:include filename="$(find reachy_description)/urdf/smartgripper.urdf.xacro"/>



  <!-- <!-\- Orbita2d config -\-> -->
  <!-- <xacro:arg name="orbita2d_shoulder_config" default="$(find orbita2d_description)/config/fake.yaml"/> -->
  <!-- <xacro:arg name="orbita2d_elbow_config" default="$(find orbita2d_description)/config/fake.yaml"/> -->

  <!-- <!-\- Orbita3d config -\-> -->
  <!-- <xacro:arg name="orbita3d_wrist_config" default="$(find orbita3d_controller)/config/fake.yaml"/> -->




  <!-- ARM PARAMETERS -->
  <!-- TODO: USE REAL VALUES -->
  <xacro:property name="arm_offset_x" value="-0.0479"/>
  <xacro:property name="arm_offset_y" value="-0.1913"/>
  <xacro:property name="arm_offset_z" value="0.025"/>
  <xacro:property name="arm_offset_yaw" value="0.2617993877991494"/>

  <xacro:property name="arm_length" value="0.28"/>
  <xacro:property name="arm_radius" value="0.03"/>
  <xacro:property name="arm_mass" value="0.5"/>
  <xacro:property name="shoulder_ratio_a" value="47.519"/>
  <xacro:property name="shoulder_ratio_b" value="47.519"/>

  <xacro:property name="forearm_length" value="0.28"/>
  <xacro:property name="forearm_radius" value="0.025"/>
  <xacro:property name="forearm_mass" value="0.45"/>
  <xacro:property name="elbow_ratio_a" value="45.018"/>
  <xacro:property name="elbow_ratio_b" value="45.018"/>

  <xacro:property name="wrist_length" value="0.01"/>
  <xacro:property name="wrist_radius" value="0.02"/>
  <xacro:property name="wrist_mass" value="0.3"/>
  <xacro:property name="wrist_reduction" value="4.266667"/>

  <!-- ARM PARAMETERS -->


  <xacro:if value="${side == 'left'}">
    <xacro:property name="reflect" value="-1"/>
    <xacro:property name="min_shoulder_roll" value="-0.0"/>
    <xacro:property name="max_shoulder_roll" value="${pi/2}"/>
    <xacro:property name="shoulder_axis1_inverted" value="0"/>
    <xacro:property name="shoulder_axis2_inverted" value="0"/>
    <xacro:property name="elbow_axis1_inverted" value="0"/>
    <xacro:property name="elbow_axis2_inverted" value="0"/>
  </xacro:if>
  <xacro:if value="${side == 'right'}">
    <xacro:property name="reflect" value="1"/>
    <xacro:property name="min_shoulder_roll" value="-${pi/2}"/>
    <xacro:property name="max_shoulder_roll" value="0.0"/>
    <xacro:property name="shoulder_axis1_inverted" value="1"/>
    <xacro:property name="shoulder_axis2_inverted" value="0"/>
    <xacro:property name="elbow_axis1_inverted" value="1"/>
    <xacro:property name="elbow_axis2_inverted" value="0"/>
  </xacro:if>
  <xacro:property name="p" value="${prefix}"/>


  <xacro:orbita2d
    name="${p}_shoulder" parent="${parent}"
    length="${arm_length}" radius="${arm_radius}" mass="${arm_mass}"
    xyz="${arm_offset_x} ${arm_offset_y*reflect} ${arm_offset_z}" rpy="0 0 ${arm_offset_yaw*reflect}"
    damping="${damping}" friction="${friction}"
    joint1="pitch" joint2="roll"
    joint1_min_angle="-${pi/2}" joint1_max_angle="${pi/2}"
    joint2_min_angle="-${pi/2}" joint2_max_angle="0.0"
    config_file="${orbita2d_shoulder_config}"
  />


   <xacro:orbita2d
    name="${p}_elbow" parent="${p}_shoulder_ball_link"
    length="${forearm_length}" radius="${forearm_radius}" mass="${forearm_mass}"
    xyz="0 0 -${arm_length}" rpy="0 0 0"
    damping="${damping}" friction="${friction}"
    joint1="yaw" joint2="pitch"
    joint1_min_angle="-${pi/2}" joint1_max_angle="${pi/2}"
    joint2_min_angle="-2.25" joint2_max_angle="0.1"
    config_file="${orbita2d_elbow_config}"
  />

  <xacro:orbita3d
    name="${p}_wrist" parent="${p}_elbow_ball_link"
    length="${wrist_length}" radius="${wrist_radius}" mass="${wrist_mass}"
    xyz="0 0 -${forearm_length}" rpy="${pi} 0 0"
    damping="${damping}" friction="${friction}"
    config_file="${orbita3d_wrist_config}"
  />

  <xacro:smartgripper
    prefix="${p}" parent="${p}_wrist_ball_link" side="${side}"
    damping="${damping}" friction="${friction}"
    gripper_port="${gripper_port}"
    gripper_id="${gripper_id}"
  />

  <link name="${p}_arm_tip"/>
  <joint name="${p}_tip_joint" type="fixed">
    <origin xyz="0 0 0.1" rpy="${pi} 0 0"/>
    <parent link="${p}_gripper_palm_link"/>
    <child link="${p}_arm_tip"/>
  </joint>

</xacro:macro>
</robot>
