<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="generic_arm">

  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="use_gazebo" default="false"/>

  <xacro:include filename="$(find reachy_description)/urdf/arm.urdf.xacro"/>
  <xacro:include filename="$(find reachy_description)/urdf/head.urdf.xacro"/>
  <!-- <xacro:include filename="$(find reachy_description)/urdf/gripper.urdf.xacro"/> -->

  <xacro:include filename="$(find reachy_description)/urdf/inertial_primitives.urdf.xacro"/>

  <!-- HWI IDs -->
    <xacro:property name="right_elbow_port_a" value="/dev/right_elbow_A"/>
    <xacro:property name="right_elbow_port_b" value="/dev/right_elbow_B"/>


    <xacro:property name="right_elbow_id_a" value="1"/>
    <xacro:property name="right_elbow_id_b" value="0"/>

    <xacro:property name="right_wrist_id" value="2"/>
    <xacro:property name="right_wrist_port" value="/dev/right_wrist"/>
    <xacro:arg name="right_wrist_hardware_zero" default="0.0, 0.0, 0.0"/>

    <xacro:property name="neck_id" value="2"/>
    <xacro:property name="neck_port" value="/dev/neck"/>
    <xacro:arg name="neck_hardware_zero" default="0.0, 0.0, 0.0"/>


    <!-- <xacro:property name="left_elbow_id_a" value="8"/> -->
    <!-- <xacro:property name="left_elbow_id_b" value="9"/> -->
    <!-- <xacro:property name="left_wrist_id" value="10"/> -->



    <!-- <xacro:property name="left_shoulder_id_a" value="2"/> -->
    <!-- <xacro:property name="left_shoulder_id_b" value="1"/> -->
    <xacro:property name="right_shoulder_port_a" value="/dev/right_shoulder_A"/>
    <xacro:property name="right_shoulder_port_b" value="/dev/right_shoulder_B"/>

    <xacro:property name="right_shoulder_id_a" value="6"/>
    <xacro:property name="right_shoulder_id_b" value="5"/>


    <xacro:property name="right_gripper_id" value="11"/>
    <xacro:property name="right_gripper_port" value="/dev/right_gripper"/>

  <!-- <xacro:property name="dynamixel_multiplexer_right" value="http://127.0.0.1:50099"/> -->
  <!--   <xacro:property name="right_gripper_grasping_finger_id" value="11"/> -->
  <!--   <xacro:property name="right_gripper_action_finger_id" value="12"/> -->
  <!-- <xacro:property name="dynamixel_multiplexer_left" value="http://127.0.0.1:50096"/> -->
  <!--   <xacro:property name="left_gripper_grasping_finger_id" value="21"/> -->
  <!--   <xacro:property name="left_gripper_action_finger_id" value="22"/> -->

  <!-- HWI IDs -->

  <!-- MODEL PARAMETERS -->
  <xacro:property name="base_collision" value="false"/>
  <xacro:property name="base_visual" value="true"/>
  <xacro:property name="damping" value="0.1"/>
  <xacro:property name="friction" value="0.1"/>

  <xacro:property name="arm_length" value="0.28"/>
  <xacro:property name="forearm_length" value="0.28"/>
  <!-- MODEL PARAMETERS -->

  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <origin xyz="0 0 1.0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="torso"/>
  </joint>

  <!-- TORSO -->
  <link name="torso">
    <xacro:if value="${base_collision}">
      <collision>
        <origin xyz="0 0 -0.5" rpy="0 0 0"/>
        <geometry>
          <cylinder length="1" radius="0.03"/>
        </geometry>
      </collision>
    </xacro:if>
    <xacro:if value="${base_visual}">
      <visual>
        <origin xyz="-0.05 0 -0.05" rpy="0 0.0 0"/>
        <geometry>
          <box size="0.1 0.2 0.22"/>
        </geometry>
        <!-- <origin xyz="0 0 -0.5" rpy="0 0 0"/> -->
        <!-- <geometry> -->
        <!--   <cylinder length="1" radius="0.03"/> -->
        <!-- </geometry> -->
        <material name="black"/>
      </visual>
    </xacro:if>
    <xacro:inertial_cuboid mass="10" xyz="0 0 0.5"  rpy="0 0 0" x_length="0.05" y_length="0.05" z_length="1"/>
  </link>
  <gazebo reference="torso">
    <material>Gazebo/Black</material>
    <static>true</static>
  </gazebo>
  <!-- TORSO -->

  <xacro:head
    parent="torso"
    damping="${damping}" friction="${friction}"
    neck_orbita_serial_port="${neck_port}"
    neck_orbita_id="${neck_id}"
    neck_orbita_hardware_zero="$(arg neck_hardware_zero)"

  />

  <!-- RIGHT ARM -->
  <xacro:arm
    prefix="r" parent="torso" side="right"
    damping="${damping}" friction="${friction}"
    shoulder_port_a="${right_shoulder_port_a}" shoulder_port_b="${right_shoulder_port_b}"
    elbow_port_a="${right_elbow_port_a}" elbow_port_b="${right_elbow_port_b}"
    wrist_port="${right_wrist_port}"
    shoulder_id_a="${right_shoulder_id_a}" shoulder_id_b="${right_shoulder_id_b}"
    elbow_id_a="${right_elbow_id_a}" elbow_id_b="${right_elbow_id_b}"
    wrist_id="${right_wrist_id}"
    wrist_hardware_zero="$(arg right_wrist_hardware_zero)"
    gripper_id="${right_gripper_id}"
    gripper_port="${right_gripper_port}"
    />

  <!-- <link name="r_wrist_cam_frame"/> -->
  <!-- <joint name="r_wrist_cam_frame_joint" type="fixed"> -->
  <!--   <origin xyz="0 0 0" rpy="0.0 0 0"/> -->
  <!--   <parent link="r_gripper_palm_link"/> -->
  <!--   <child link="r_wrist_cam_frame"/> -->
  <!-- </joint> -->


  <!-- <link name="r_wrist_camera"/> -->
  <!-- <joint name="r_wrist_camera_joint" type="fixed"> -->
  <!--   <origin xyz="0.11 -0.01 0.08" rpy="0.35 -0.7 0"/> -->
  <!--   <parent link="r_wrist_cam_frame"/> -->
  <!--   <child link="r_wrist_camera"/> -->
  <!-- </joint> -->

  <!-- LEFT ARM -->
    <!-- <xacro:arm -->
    <!-- prefix="l" parent="torso" side="left" -->
    <!-- damping="${damping}" friction="${friction}" -->
    <!-- shoulder_port_a="${left_shoulder_port_a}" shoulder_port_b="${left_shoulder_port_b}" -->
    <!-- elbow_port_a="${left_elbow_port_a}" elbow_port_b="${left_elbow_port_b}" -->
    <!-- wrist_port="${left_wrist_port}" -->
    <!-- shoulder_id_a="${left_shoulder_id_a}" shoulder_id_b="${left_shoulder_id_b}" -->
    <!-- elbow_id_a="${left_elbow_id_a}" elbow_id_b="${left_elbow_id_b}" -->
    <!-- wrist_id="${left_wrist_id}" -->
    <!-- gripper_id="${left_gripper_id}" -->
    <!-- /> -->


</robot>
