<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="dynamixel_control" params="name config_file">

  <xacro:include filename="$(find pollen_generic_description)/ros2_control/joint.ros2_control.xacro"/>

    <ros2_control name="${name}" type="system">
      <hardware>
        <!-- Use real hardware. -->
        <xacro:unless value="$(arg use_fake_hardware)">
          <plugin>dynamixel_system_hwi/DynamixelSystem</plugin>
          <param name="config_file">${config_file}</param>
        </xacro:unless>

        <xacro:if value="$(arg use_fake_hardware)">
          <!-- Use gazebo as hardware simulation. -->
          <xacro:if value="$(arg use_gazebo)">
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
          </xacro:if>

          <!-- Use fake components. -->
          <xacro:unless value="$(arg use_gazebo)">
            <plugin>fake_components/GenericSystem</plugin>
          </xacro:unless>
        </xacro:if>
      </hardware>

      <xacro:position_joint_control name="${name}_left_joint"/>
      <xacro:position_joint_control name="${name}_right_joint"/>
    </ros2_control>
  </xacro:macro>
</robot>
